* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* REMOVED: display: flex; */
  /* REMOVED: place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
  min-height: 100vh;
}
